{% extends "todolist/base.html" %}

{% load static %}

{% block css %}{% static 'todolist/css/home.css' %}{% endblock css %}

{% block 标题 %}你的个人待办清单{% endblock 标题 %}
{% block 主页高亮 %}active{% endblock 主页高亮 %}
{% block 主体 %}

{% if 警告 %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><center>{{警告}}</center></strong>
</div>
{% endif %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>序号</th>
        <th>待办事项</th>
        <th>编辑</th>
        <th>划掉</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody class="no-underline">

      {% for item in 清单 %}
        {% if item.完成情况 %}
          <tr class="table-dark">
            <th scope="row" class="text-dark">{{forloop.counter}}</th>
            <td class="text-dark" id="line-through">{{ item.待办事项 }}</td>
            <td  class="text-secondary">不可编辑</td>
            <td>
              <form class="text-danger" method="POST" action="{% url 'todolist:撤销' forloop.counter %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">撤销</button>
              </form>
            </td>
            <!-- <td><a class="text-danger" href="{% url 'todolist:删除' forloop.counter %}">删除</a></td> -->
            <td>
              <form class="text-danger" method="POST" action="{% url 'todolist:删除' forloop.counter %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">删除</button>
              </form>
            </td>
          </tr>
        {% else %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ item.待办事项 }}</td>
            <td>
              <a href="{% url 'todolist:编辑' forloop.counter %}">
                <button type="submit" class="btn btn-primary btn-sm">编辑</button>
              </a>
            </td>
            <td>
              <form class="text-danger" method="POST" action="{% url 'todolist:划掉' forloop.counter %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">划掉</button>
              </form>
            </td>

            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#emampleModal">删除</button>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id="emampleModal" tabindex="-1" role="dialog" aria-labelledby="emampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="emampleModalLabel">请确认删除</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              确定要删除 <strong>未办事项: {{ item.待办事项 }}</strong> 吗？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                              <form method="POST" action="{% url 'todolist:删除' forloop.counter %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">确认</button>
                              </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </td>
          </tr>
        {% endif %}
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock 主体 %}
